<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <img src="/images/block_1.jpg" alt="">
    <img src="/images/block_2.jpg" alt="">
  </body>
</html>
